@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Roboto:wght@300&display=swap');

body{
    background-color: black;
    font-size: 16px;
}

/* LOGO DEL NAVBAR */
.logo{
    cursor: pointer
}

.logo:hover{
    transform: scale(1.2);
    transition: all 0.3s
}

/* NAVBAR */

.nav-link button{
    background-color: red;
    margin-left: 20px;
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: rgba(189, 3, 3, 0.884);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.nav-link button:hover{
    background-color: white;
    transform: scale(1.1);
    color: black;
}

.nav-link-carro button{
    background-color: red;
    color: black;
    padding: 9px 15px;
    background: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 5px;
    margin-left: 50px;
}

.nav-link-carro button:hover{
    background-color: white;
    transform: scale(1.1);
    color: black;
}


/* SHOP */
/* CARDS */
.text-justify{
    text-align: justify;
    color: white;
}

.display-3{
    color: white;
}

.card:hover{
    opacity: 0.9;
}

.btn{
    background-color: rgba(255, 0, 0, 0.562);
}

.card-body{
    background-color: lightgrey;
}

.card-text{
    text-align: justify;
}


.nav-link{
    font-weight: 600;
}

#txtComment{
    resize: none;
}

@media (max-width: 576px){
    .card-text{
        font-size: 0.8rem;
    }
}



/* CONTACTO */
.textos{
    color: white;
}



/* FOOTER */
.footer{
    background-color: grey;
    padding: 0px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    height: 70px;
}

.footer-row{
    display: flex;
}

.footer-links{
    width: 200%;
    padding: 0 15px;
    margin-top: 15px;
}

.footer-links ul li a{
    font-size: 18px;
    color: black;
    display: block;
    margin-bottom: 15px;
    transition: all.3s ease;
}

.copyright{
    text-align: left;
  padding: 0 45px;
  margin-top: -30px;
  display: block;
}

.social-link a{
display: inline-block;
min-height: 1px;
width: 50px;
background-color: grey;
margin: 10 10px 10px 10;
text-align: center;
line-height: 40px;
border-radius: 60%;
border-style: solid;
color: black;
transition: all.5s ease;
margin-right: 10px;
}

.social-link a:hover{
    background-color: white;
    transform: scale(1.2);
    transition: all 0.5s
}